<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Phi Gamma Delta Fraternity - Tau Kappa Chpater | Toronto, Canada</title>
<meta name="Description" content="Welcome to the official website for the Tau Kappa chapter of Phi Gamma Delta, also known as FIJI, at the University of Toronto.">
<meta name="keywords" content="Phi Gamma Delta,FIJI,University Of Toronto">

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "image": "http://www.fijitk.com/img/FijiShieldLogo.png",
  "@id": "http://www.fijitk.com",
  "url": "http://www.fijitk.com",
  "name": "Phi Gamma Delta - Tau Kappa Chapter - Toronto, Canada",
  "alternateName": "Phi Gamma Delta TK FIJI",
  "sameAs": [
    "https://www.facebook.com/PhiGammaDeltaTauKappa",
    "https://www.instagram.com/fijiuoft"
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "45 Madison Avenue",
    "addressLocality": "Toronto",
    "addressRegion": "Ontario",
    "postalCode": "M5R 2S2",
    "addressCountry": "Canada"
  }
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98611114-1', 'auto');
  ga('send', 'pageview');

</script>


<link rel="icon" href="favicon.png" type="image/png">
<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/robotoLight.css" rel="stylesheet" type="text/css">

<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/wow.js"></script>
<script type="text/javascript" src="js/classie.js"></script>

<script src="js/angular.min.js"></script>
<script src="js/angular-form.js"></script>


<!-- smooth link-scrolling script-->
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>


</head>


<body ng-app="formValid">

<div style="overflow:hidden;">
    <header class="header" id="header"><!--header-start-->
        <div class="container" style="align-self:center">
            <figure class="logo animated fadeInDown delay-05s">
                <a href="#welcome"><img src="img/FijiShieldLogo.png" alt="" title="shield"></a>	
            </figure>
            <h1 class="animated fadeInDown delay-1s">PHI GAMMA DELTA</h1>
            <ul class="we-create animated fadeInUp delay-17s">
              <li>Tau Kappa</li><br><br>
              <li>University of Toronto</li><br><br>
            </ul>
                <a class="link animated fadeInUp delay-22s" href="#welcome">Welcome</a>
        </div>
    
    </header><!--header-end-->
</div>


<nav class="main-nav-outer" id="welcome"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#chapter">Chapter</a></li>
            <li><a href="#events">Events</a></li>
            <li class="small-logo"><a href="#welcome"><img src="img/FijiShieldLogo.png" alt="" width="100" height="105"></a></li>
            <li><a href="#brothers">Brothers</a></li>
            <li><a href="http://www.phigam.org/" target="_blank">Fiji</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a class="res-nav_click"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->


<!--main-section-start-->
<section class="main-section" id="chapter">	
	<div class="container">
    	<a class="headLink"  href="chapter.html"><h2>Chapter</h2></a>
    	<h6>Welcome to the official website for the Tau Kappa chapter of Phi Gamma Delta (FIJI) at the University of Toronto.</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<h2 style="text-align:left">Who we are</h2>
                <br>
                
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-star"></i>
                    </div>
                	<div class="service-list-col2">
                    	<h3>Phi Gamma Delta - Tau Kappa chapter </h3>
                        <p>Since 1923, Phi Gamma Delta has been one of the best-regarded fraternities at the University of Toronto.</p>
                    </div>
                </div>
                
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-comment"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Our mission</h3>
                        <p><i>"Building courageous leaders"</i></p>
                    </div>
                </div>
                                
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-thumbs-up"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Connect with us</h3>
                        <p style="font-family: 'FontAwesome'; font-size:30px">
                            <ul class="social-link" style="padding:0px 0px !important; margin: 13px 00px 0px 7px !important">
                    			<li class="facebook"><a href="https://www.facebook.com/PhiGammaDeltaTauKappa" class="fa-facebook"></a></li>
                    			<li class="instagram"><a href="https://www.instagram.com/fiji_uoft/" class="fa-instagram"></a></li>
                			</ul>
                        </p>
                    </div>
                </div>
            </div>
            <figure style="vertical-align:central" class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img style="border-radius:15px; box-shadow:2px 2px 1px #888888" src="img/pig-dinner-banner.jpg" alt="">
            </figure>
        
        </div>
	</div>
    <br>
    
    <div align="center">
    	<a class="link animated fadeInUp delay-12s" href="chapter.html" >Learn more</a>
    </div>
</section><!--main-section-end-->



<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	
    	<div class="row" >
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft myFrame" >
            	<img src="img/FijiShieldLogo.png" alt="shield">
        	</figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<a href="chapter.html" class="headLink"><h2>Our values</h2></a>
            	<P class="padding-b">As brothers of Fiji, we all believe in these 5 values</P>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-users"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>Friendship</h3>
                        <p>The sweetest influence. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-03s">
                    	<i class="fa-graduation-cap"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-03s">
                        <h3>knowledge</h3>
                        <p>The primary reason we attend university, and the key to a fuller and richer life. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-street-view"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>Service</h3>
                        <p>In recognition of our obligation to give back to the campus and community that foster our growth.</p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-05s">
                    	<i class="fa-universal-access"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-05s">
                        <h3>morality</h3>
                        <p>Our commitment to do what is right in all our relationships. </p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-06s">
                    	<i class="fa-star"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>excellence</h3>
                        <p>Transcendence of the ordinary, and defying complacency. </p>
                    </div>    
                </div>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->

<hr class="style18" width="80%">

<section class="main-section paddind" id="events"><!--event-section-start-->


	<div class="container">
	  <h2>Events</h2>
      <!--
      <h6>Upcoming</h6>
      
      <div style="width:60%; margin:0 auto;" class="upcomingEvents">
              
        <div class="featured-box">
            <div class="featured-box-col1 wow fadeInRight delay-04s">
                <a href="https://www.facebook.com/events/238736019887090/"><i style="font-family:'FontAwesome'" class="fa-calendar-o"></i></a> </div>
            <div class="featured-box-col2 wow fadeInRight delay-04s">
              <h3>Jan 13th: "Cabin in the Woods / Friday the 13th" party</h3>
              <p>10 pm, Friday, Jan. 13 </p>
            </div>
      	</div>
      		
        <hr style="border-top: 1px dotted #8c8b8b">
         
         <div class="featured-box">
            <div class="featured-box-col1 wow fadeInRight delay-02s">
                <a href="https://www.facebook.com/events/1823825741205953/"><i style="font-family:'FontAwesome'" class="fa-calendar-o"></i></a> </div>
            <div class="featured-box-col2 wow fadeInRight delay-02s">
              <h3>End of the World Party </h3>
              <p>10 pm, Friday, Jan. 20 </p>
            </div>
      	</div>
          
          </div> 
      </div>
            
      <br><br><br><br>
	  <h2 style="padding:20px 0px 10px">Event Gallery</h2>
      
      <!-- Category filters-->
	  <div class="portfolioFilter">  
        <ul class="Portfolio-nav wow fadeIn delay-02s">
        	<li><a data-filter="*" class="current">All</a></li>
            <li><a data-filter=".event">Recent events</a></li>
            <li><a data-filter=".social">Socials</a></li>
            <li><a data-filter=".photo">Photography</a></li>
        </ul>
       </div> 
        
    
    <!-- photos -->
    <div class="portfolioContainer wow fadeInUp delay-04s">
    
            	<div class=" Portfolio-box event">
                	<a href="https://goo.gl/photos/ebnFP4B81BDDa1Js5" target="_blank">
                    	<img src="img/event_thumbs/pig_dinner_2015.jpg" alt=""></a>	
                	<h3>Pig Dinner</h3>
                    <p>Dec. 5, 2015</p>
                </div>
                
                <div class="Portfolio-box social">
                	<a href="https://goo.gl/photos/FRWLzr8U4iwuJi6b7" target="_blank">
                    	<img src="img/event_thumbs/gamma_social.jpg" alt=""></a>	
                	<h3>Gamma Phi Beta Social</h3>
                    <p>Mar. 16, 2016</p>
                </div>
                
                <div class=" Portfolio-box photo">
                	<a href="https://goo.gl/photos/DF6fNiKBz3gsrroJ9" target="_blank">
                    	<img src="img/event_thumbs/photography.jpg" alt=""></a>	
                	<h3>Photography</h3>
                </div>
                
                <!--
                <div class=" Portfolio-box event" >
                	<a href="#"><img src="img/filler/p4.jpg" alt=""></a>	
                	<h3>Vinyl Record</h3>
                    <p>Photography</p>
                </div>
                
                <div class=" Portfolio-box photo">
                	<a href="#"><img src="img/filler/p5.jpg" alt=""></a>	
                	<h3>Hipster</h3>
                    <p>Branding</p>
                </div>
                
                <div class=" Portfolio-box photo">
                	<a href="#"><img src="img/filler/p6.jpg" alt=""></a>	
                	<h3>Windmills</h3>
                    <p>Photography</p>
                </div>
                -->
                
    </div>
</section><!-- gallery section end -->


<section class="main-section client-part" id="client"><!--main-section client-part-start-->
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i style="font-family:'FontAwesome' "class="fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">Nothing in this world can take the place of persistence. <br>Talent will not; nothing is more common than unsuccessful men with talent. <br>Genius will not; unrewarded genius is almost a proverb. <br>Education will not; the world is full of educated derelicts. <br>Persistence and determination alone are omnipotent. <br>The slogan "Press On" has solved and always will solve the problems of the human race.</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="https://www.whitehouse.gov/1600/presidents/calvincoolidge" target="_blank">
            	<img src="img/calvin-coolidge.jpg" alt="" width="100" height="100">
                <h3>Calvin Coolidge (Amherst 1895)</h3>
                <span>30th President of the United States. Phi Gamma Delta Graduate Brother.</span>
            </a></li>
        </ul>
    </div>
</section>


<!-- Brothers section begin -->
<section class="main-section team" id="brothers">
	<div class="container">
	  <h2>Brothers</h2>
	  <h6></h6>
	  <div class="team-leader-block clearfix">
      
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html">--></a></div>
                    <img src="img/brothers/blum.jpg" alt="">
                    <ul>
                        <li><a href="https://www.facebook.com/alex.blum.7393" class="fa-facebook" target="_blank"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Alex Blum</h3>
                <span class="wow fadeInDown delay-03s">President</span>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-05s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html">--></a></div>
                    <img src="img/brothers/ervin.jpg" alt="president">
                    <ul>
                        <li><a href="https://www.instagram.com/coreyervin/" class="fa-instagram" target="_blank"></a></li>
                        <li><a href="http://facebook.com/corey.ervin" class="fa-facebook" target="_blank"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-05s">Corey Ervin</h3>
                <span class="wow fadeInDown delay-05s">Treasurer</span>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-07s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html">--></a></div>
                    <img src="img/brothers/joly.jpg" alt="">
                    <ul>
                        <li><a href="https://www.facebook.com/StephenAJoly" class="fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/stephenjoly/" class="fa-instagram" target="_blank"></a></li>
                        <li><a href="https://twitter.com/stephenjoly" class="fa-twitter" target="_blank"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-07s">Stephen Joly</h3>
                <span class="wow fadeInDown delay-07s">Recruitment Chair</span>
            </div>
        </div>
        
        <br>
        
        <div class="team-leader-block clearfix">
        
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html">--></a></div>
                    <img src="img/brothers/paulsuk.jpg" alt="">
                    <ul>
                        <li><a href="https://www.facebook.com/paoul.sukii" class="fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/paul.suk/" class="fa-instagram" target="_blank"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Paul Suk</h3>
                <span class="wow fadeInDown delay-03s">Corresponding Secretary</span>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-05s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html"></a>--></div>
                    <img src="img/brothers/cocco.jpg" alt="president">
                    <ul>
                        <li><a href="https://www.facebook.com/coccoAdam" class="fa-facebook" target="_blank"></a></li>
                </div>
                <h3 class="wow fadeInDown delay-05s">Adam Cocco</h3>
                <span class="wow fadeInDown delay-05s">Historian</span>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-07s"> 
                    <div class="team-leader-shadow"><!--<a href="brothers.html">--></a></div>
                    <img src="img/brothers/davidLiu.jpg" alt="">
                    <ul>
                        <li><a href="https://www.facebook.com/iLike2Teabag" class="fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.flickr.com/photos/126009922@N08/" class="fa-flickr" target="_blank"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-07s">David Liu</h3>
                <span class="wow fadeInDown delay-07s">PR and Webmaster</span>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->



<section class="business-talking" id="contact"><!--business-talking-start-->
	<div class="container">
        <h2 style="letter-spacing:1px">Interested? Get in touch with us.</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            
            	<div class="contact-info-box address clearfix">
                	<h3><i class="fa-map-marker"></i>Address:</h3>
                	<span><a href="https://goo.gl/maps/REpPb9fQWFr" target="_blank">45 Madison Ave.</a></span>
                </div>
                
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>Email:</h3>
                	<span>contact@fijitk.com</span>
                </div>
                
                <div class="contact-info-box clearfix">
                	<h3><i class="fa-phone"></i>Phone:</h3>
                    <span>Please contact our recruitment chair:<br>647-962-9533</span>
                </div>
                
                <!--
                <div>
                	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.991275050673!2d-79.40559288450174!3d43.66915127912074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3497e65efbe3%3A0xa0ce026bb5f16dc4!2s45+Madison+Ave%2C+Toronto%2C+ON+M5R+2S2!5e0!3m2!1sen!2sca!4v1473042922753" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                -->
                
                <!--
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Hours:</h3>
                	<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
                -->
                
                <ul class="social-link">
                    <li class="facebook"><a href="https://www.facebook.com/PhiGammaDeltaTauKappa" class="fa-facebook"></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/fiji_uoft/" class="fa-instagram"></a></li>
                </ul>
            </div>
            
            <!-- Mail Form begin -->
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s" >
            	<div class="form" novalidate>
                	<form name="contactForm" action="mail.php" method="post" ng-controller="formController as formCtrl">
                    
                    	<!-- live preview code -->
                        <blockquote>
                            <b>Your Name:</b> {{formCtrl.message.name}}<br>
                            
                            <cite><b>Your Email:</b> {{formCtrl.message.email}}</cite>
                            
                            <p style="padding-left:0; margin-left:0; padding-top:0; margin-top:0"><b>Your message:</b><br>
                            	<p style="padding-left:5px;  max-width:400px"> {{formCtrl.message.body}} </p>
                            </p>
                        </blockquote>
                    
                        <input class="input-text" type="text" name="_name" value="Your Name *" ng-model="formCtrl.message.name"
                            onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" required/>
                            
                        <input 	class="input-text" type="email" name="email" value="Your E-mail *" ng-model="formCtrl.message.email"
                            onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" required/>
                            
                        <textarea ng-model="formCtrl.message.body" class="input-text text-area" cols="0" rows="0" name="message" 
                            onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" required>Your Message *</textarea>
                            
                        <input ng-disabled="contactForm.$invalid" class="input-btn" type="submit" value="Submit" name="submit" />
                        
                        <br>
                        <p style="color:#9A9A9A; padding-top:15px;">
                        	Update: This form now uses Angular, and PHP to send!	
                        </p>
                    </form>
                    
                </div>	
            </div>
            <!-- Mail Form end -->
            
        </div>
</section>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#header"><img src="img/FijiShieldLogo.png" alt="" ></a></div>
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#welcome').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
 
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>
</body>
</html>